body{
	background: #ff4757;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
.container{
	max-width: 1080px;
	margin: 20px auto;
	background: #ff4757;
	overflow: hidden;
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
}

.header{
  padding: 10px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  
}
.header img{
  width:20%;
  border-radius: 30%;
  height: auto;
}
/* Main */
	.left{
		width: 250px;
		
		background: #ff6b81;
		padding: 10px;
		margin: 10px;
		float: left;
		color: #ffffff;
	}

	.middle{
		width: 40%;
		
		background: #ff6b81;
		color: #ffffff;
		padding: 10px;
		margin: 10px;
		float: left;
	}
	.middle img{
		max-width: 100%;
		height: auto;
	}

	.right{
		width: 250px;
		background: #ff6b81;
		
		padding: 10px;
		margin: 10px;
		float: left;
		color: #ffffff;
	}

.footer{
	clear: both;
	padding: 10px;
	margin: 10px;
	text-align: center;
}
