body{
  background-color:#263238;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  line-height: 1,6em;
  margin: 0;
  width:1000px;
}
.abed table, tr, td{
  border: 2px solid black;
  display: flexbox;
  padding: 10px;
  text-align: center;
  margin-left: 450px;
  margin-top: 10px;
}
.abed p{
  font-family: Roboto;
  font-size: 13px;
}
.kotak{
  background-color: #9AA0C1;
  border-bottom-width: 10px;
  padding: 10px;
  margin: 10px;
}

.kotak h4{
  font-size: 15px;
  font-style: italic;
}

.kotak table, td, th{
  border: 1px solid black;
  border-collapse: collapse;
}

h2{
  font-size: 19,5px;
  font-family: sans-serif;
}

img{
  border-radius: 50%;
  padding: 5px;
  width: 120px;
}
